/* Progreessbar */
  .progressbar {
      counter-reset: step;
      display: flex;
  }
.progressbar li {
    list-style-type: none;
    width: 20%;
    /*float: left;*/
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}

/*Checkbox*/
  .card-checkbox {
      --background: #fff;
      --background-checkbox: #0082ff;
      --background-image: #fff, rgba(0, 107, 175, 0.2);
      --text-color: #666;
      --text-headline: #000;
      --card-checkbox-shadow: #0082ff;
      --card-checkbox-shadow: #20df80;
      /*--card-checkbox-height: 190px;*/
      /*--card-checkbox-width: 190px;*/
      --card-checkbox-radius: 12px;
      /*--header-height: 47px;*/
      --blend-mode: overlay;
      --transition: 0.15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 100%;
      padding: 0.5rem;
      max-width: 250px;
      min-width: 200px;
  }
@media screen and (max-width: 767px) {
    .card-checkbox{
        max-width: none;
    }
}

.card-checkbox:nth-child(odd) .card-checkbox__body-cover-image {
    --x-y1: 100% 90%;
    --x-y2: 67% 83%;
    --x-y3: 33% 90%;
    --x-y4: 0% 85%;
}
.card-checkbox:nth-child(even) .card-checkbox__body-cover-image {
    --x-y1: 100% 85%;
    --x-y2: 73% 93%;
    --x-y3: 25% 85%;
    --x-y4: 0% 90%;
}
.card-checkbox__input {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}
.card-checkbox__input:checked ~ .card-checkbox__body {
    --shadow: 0 0 0 3px var(--card-checkbox-shadow);
}
.card-checkbox__input:checked ~ .card-checkbox__body .card-checkbox__body-cover-checkbox {
    --check-bg: var(--background-checkbox);
    --check-border: #fff;
    --check-scale: 1;
    --check-opacity: 1;
    --check-bg: #20df80;
}
.card-checkbox__input:checked ~ .card-checkbox__body .card-checkbox__body-cover-checkbox--svg {
    --stroke-color: #fff;
    --stroke-dashoffset: 0;
}
.card-checkbox__input:checked ~ .card-checkbox__body .card-checkbox__body-cover:after {
    --opacity-bg: 0;
}
.card-checkbox__input:checked ~ .card-checkbox__body .card-checkbox__body-cover-image {
    --filter-bg: grayscale(0);
}
.card-checkbox__input:disabled ~ .card-checkbox__body {
    cursor: not-allowed;
    opacity: 0.5;
}
.card-checkbox__input:disabled ~ .card-checkbox__body:active {
    --scale: 1;
}
.card-checkbox__body {
    /*display: grid;*/
    /*grid-auto-rows: calc(var(--card-checkbox-height) - var(--header-height)) auto;*/
    background: var(--background);
    height: var(--card-checkbox-height);
    width: var(--card-checkbox-width);
    border-radius: var(--card-checkbox-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    transition: transform var(--transition), box-shadow var(--transition);
    transform: scale(var(--scale, 1)) translateZ(0);
    height: 100%;
}
.card-checkbox__body:active {
    --scale: 0.96;
}
.card-checkbox__body-cover {
    --c-border: var(--card-checkbox-radius) var(--card-checkbox-radius) 0 0;
    --c-width: 100%;
    --c-height: 100%;
    position: relative;
    overflow: hidden;
}
.card-checkbox__body-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--c-width);
    height: var(--c-height);
    border-radius: var(--c-border);
    background: linear-gradient(to bottom right, var(--background-image));
    mix-blend-mode: var(--blend-mode);
    opacity: var(--opacity-bg, 1);
    transition: opacity var(--transition) linear;
}
.card-checkbox__body-cover-image {
    width: var(--c-width);
    height: var(--c-height);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--c-border);
    filter: var(--filter-bg, grayscale(1));
    -webkit-clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
    clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
}
.card-checkbox__body-cover-checkbox {
    background: var(--check-bg, var(--background-checkbox));
    border: 2px solid var(--check-border, #fff);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: var(--check-opacity, 0);
    transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear;
    transform: scale(var(--check-scale, 0));
}
.card-checkbox__body-cover-checkbox--svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 5px;
    stroke: var(--stroke-color, #fff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--stroke-dashoffset, 16px);
    transition: stroke-dashoffset 0.4s ease var(--transition);
}
.card-checkbox__body-header {
    height: var(--header-height);
    background: var(--background);
    padding: 0 10px 10px 10px;
}
.card-checkbox__body-header-title {
    color: var(--text-headline);
    font-weight: 700;
    margin-bottom: 8px;
}
.card-checkbox__body-header-subtitle {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 8px;
}

/*Radio button*/
  section > .radio-avatar-item {
      /*flex: 1;*/
      padding: 0.5rem;
      min-width: 200px;
      max-width: 250px;
  }

  @media screen and (max-width: 767px) {
      section > .radio-avatar-item {
          max-width: none;
      }
  }

.radio-avatar-item input[type=radio] {
    display: none;
}
.radio-avatar-item input[type=radio]:not(:disabled) ~ label {
    cursor: pointer;
}
.radio-avatar-item input[type=radio]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

.radio-avatar-item label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #20df80;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
}

.radio-avatar-item input[type=radio]:checked + label {
    background: #20df80;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
.radio-avatar-item input[type=radio]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #1dc973;
    content: "";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.radio-avatar-item img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.radio-avatar-item p {
    font-weight: 900;
}

@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}

/* Main */
section {
    padding: 0;
}

.content-bmi-input{
    max-width: 650px;
    margin: 0 auto;
}
.wrapper-steps-content{
    height: calc(100vh - 265px);
    overflow: auto;
    padding: 16px 0;
}

.step{
    display: none;
}
.step.active{
    display: block;
}

.wrapper-steps-button button{
    visibility: hidden;
}
.wrapper-steps-button button.active{
    visibility: visible;
}